name: 'Build A2 910B Check / lmcache-ascend'

on:
  pull_request:
    branches:
      - 'main'
      - '*-dev'
    paths:
      - '.github/workflows/**'
      - 'docker/Dockerfile**'
      - 'lmcache_ascend/**'         
      - 'setup.py'
      - 'pyproject.toml'
      - 'requirement.txt'
      - 'CMakeLists.txt'
      - 'csrc/**'
  push:
    branches:
      - 'main'
      - '*-dev'
    paths:
      - '.github/workflows/**'
      - 'docker/Dockerfile**'
      - 'lmcache_ascend/**'
      - 'setup.py'
      - 'pyproject.toml'
      - 'requirement.txt'
      - 'CMakeLists.txt'
      - 'csrc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-check:
    name: lmcache-ascend a2 910b build check
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: false
        submodules: true

    - name: Print CPU Info
      run: lscpu

    - name: Free up disk space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      with:
        tool-cache: true
        docker-images: false

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      # Essential for building linux/arm64 on standard GitHub runners

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build (No Push)
      uses: docker/build-push-action@v6
      with:
        platforms: linux/arm64
        
        context: .
        
        file: ./docker/Dockerfile.a2.openEuler
        
        # Check only (no push)
        push: false
        load: true
        tags: lmcache-ascend:test-build
        
        build-args: |
          PIP_INDEX_URL=https://pypi.org/simple
        provenance: false
